*{
    padding: 0;
    margin: 0;
}

.CajaPrincipal{
    width: 960px;
    height: 2632px;
  
}


.Caja1{
    width: 960px;
    height: 525px;
    background-image: url(./Mask\ Group.png);
    background-repeat: no-repeat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: #fff;
    
}

.Textoletras{
    width: 245px;
    height: 80px;
    margin-top: 255px;
    margin-left: 145px;
    background: rgba(114, 153, 254, 0.50);
    border-radius: 5px;
    
    
    
}

.Titulo{
    display: flex;
    justify-content: center;
    font-size: 35px;
    
}
